<form [formGroup]="contractForm" (ngSubmit)="submit()" *ngIf="firstStep">
    <h4>Contratto di Locazione</h4>
    <div class="form-group">
        <label for="date">Data</label>
        <input formControlName="date" type="date" class="form-control" id="date" aria-describedby="Data" placeholder="Data">
    </div>
    <div class="form-group">
        <label for="registryNumber">Nr. Registro</label>
        <input formControlName="registryNumber" type="text" class="form-control" id="registryNumber" aria-describedby="registryNumber"
            placeholder="Nr. registro">
    </div>

    <h4>Dati natante locato</h4>
    <div class="form-group">
        <label for="boat_name">Nome</label>
        <select class="form-control" formControlName="boat" id="boat_name">
            <option *ngFor="let boat of boats" [ngValue]="boat">{{boat.name}}</option>
        </select>
    </div>
    <!-- <fieldset formGroupName="boatGroup">
        <div class="form-group">
            <label for="boat_type">Natante</label>
            <input type="text" class="form-control" formControlName="boatType" id="boat_type" aria-describedby="Natante" placeholder="Natante">
        </div>
        <div class="form-group">
            <label for="boat_vin">Matricola</label>
            <input type="text" class="form-control" formControlName="boatVin" id="boat_vin" aria-describedby="Matricola natante" placeholder="Matricola natante">
        </div>
        <div class="form-group">
            <label for="engine">Engine</label>
            <input type="text" class="form-control" formControlName="engine" id="engine" aria-describedby="Motore" placeholder="Motore">
        </div>
        <div class="form-group">
            <label for="engine_vin">Matricola</label>
            <input type="text" class="form-control" formControlName="engineVin" id="engine_vin" aria-describedby="Matricola motore" placeholder="Matricola motore">
        </div>
        <div class="form-group">
            <label for="registration_number">Targa</label>
            <input type="text" class="form-control" formControlName="registrationNumber" id="registration_number" aria-describedby="Targa"
                placeholder="Targa">
        </div>
        <div class="form-group">
            <label for="tank_size">Serbatoio</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">LT</span>
                </div>
                <input type="number" class="form-control" formControlName="tankSize" id="tank_size" aria-describedby="Serbatoio" placeholder="Serbatoio">
            </div>
        </div>
    </fieldset> -->

    <h4>Anagrafica Locatario/Conduttore</h4>
    <div class="form-group">
        <label for="renter_name">Nome locatario</label>
        <input type="text" class="form-control" formControlName="renterName" id="renter_name">
    </div>
    <div class="form-group">
        <label for="birth_place">Luogo di nascita</label>
        <input type="text" class="form-control" formControlName="birthPlace" id="birth_place">
    </div>
    <div class="form-group">
        <label for="birth_date">Data di nascita</label>
        <input type="date" class="form-control" formControlName="birthDate" id="birth_date">
    </div>
    <div class="form-group">
        <label for="sex">Sesso</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="sex_m" formControlName="sex" value="M">
            <label class="form-check-label" for="sex_m">M</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="sex_f" formControlName="sex" value="F">
            <label class="form-check-label" for="sex_f">F</label>
        </div>
    </div>
    <div class="form-group">
        <label for="home_town">Citt&agrave; di residenza</label>
        <input type="text" class="form-control" formControlName="homeTown" id="home_town">
    </div>
    <div class="form-group">
        <label for="home_address">Indirizzo di residenza</label>
        <input type="text" class="form-control" formControlName="homeAddress" id="home_address">
    </div>
    <div class="form-group">
        <label for="ssn">Codice Fiscale</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="ssn" id="ssn">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="getSsn()" type="button">Calcola</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="boat_license">Patente nautica</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="boat_license_yes" formControlName="boatLicense" [value]="true">
            <label class="form-check-label" for="boat_license_yes">SI</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="boat_license_no" formControlName="boatLicense" [value]="false">
            <label class="form-check-label" for="boat_license_no">NO</label>
        </div>
    </div>
    <div class="form-group">
        <label for="phone">Telefono</label>
        <input type="phone" class="form-control" formControlName="phone" id="phone">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email">
    </div>
    <div class="form-group">
        <label for="id_type">Tipo documento</label>
        <input type="text" class="form-control" formControlName="idType" id="id_type">
    </div>
    <div class="form-group">
        <label for="id_number">Numero documento</label>
        <input type="text" class="form-control" formControlName="idNumber" id="id_number">
    </div>
    <div class="form-group">
        <label for="id_issuer">Rilasciato da</label>
        <input type="text" class="form-control" formControlName="idIssuer" id="id_issuer">
    </div>
    <div class="form-group">
        <label for="id_issue_date">Data rilascio</label>
        <input type="date" class="form-control" formControlName="idIssueDate" id="id_issue_date">
    </div>

    <h4>Dettagli locazione</h4>
    <div class="form-group">
        <label for="start_date">Data inizio</label>
        <input type="date" class="form-control" formControlName="startDate" id="start_date">
    </div>
    <div class="form-group">
        <label for="start_time">Ora inizio</label>
        <input type="time" class="form-control" formControlName="startTime" id="start_time">
    </div>
    <div class="form-group">
        <label for="end_date">Data fine</label>
        <input type="date" class="form-control" formControlName="endDate" id="end_date">
    </div>
    <div class="form-group">
        <label for="end_time">Ora fine</label>
        <input type="time" class="form-control" formControlName="endTime" id="end_time">
    </div>
    <div class="form-group">
        <label for="start_fuel">Carburante inizio</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">LT</span>
            </div>
            <input type="text" class="form-control" formControlName="startFuel" id="start_fuel">
        </div>
    </div>
    <div class="form-group">
        <label for="end_fuel">Carburante fine</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">LT</span>
            </div>
            <input type="text" class="form-control" formControlName="endFuel" id="end_fuel">
        </div>
    </div>
    <div class="form-group">
        <label for="fuel_cost">Costo carburante</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">€ / LT</span>
            </div>
            <input type="number" class="form-control" formControlName="fuelCost" id="fuel_cost">
        </div>
    </div>
    <div class="form-group">
        <label for="total_fuel_cost">Totale carburante</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" formControlName="totalFuelCost" id="total_fuel_cost">
        </div>
    </div>
    <div class="form-group">
        <label for="rent_price">Importo locazione</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" formControlName="rentPrice" id="rent_price">
        </div>
    </div>
    <div class="form-group">
        <label for="security_deposit">Cauzione</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" formControlName="securityDeposit" id="security_deposit">
        </div>
    </div>
    <div class="form-group">
        <label for="desposit">Importo in acconto</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" formControlName="deposit" id="desposit">
        </div>
    </div>
    <div class="form-group">
        <label for="balance">Importo a saldo</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" formControlName="balance" id="balance">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">
        Continua
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>

</form>

<div class="preview" *ngIf="!firstStep">

    <img src="assets/logo_wide.png" class="logo">

    <h2 class="text-center text-uppercase font-weight-bold">Contratto di Locazione</h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Data:</div>
                <div class="col-6">{{contract.date | date : 'd/M/yyyy'}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Nr. Registro:</div>
                <div class="col-6">{{contract.registryNumber}}</div>
            </div>
        </div>
    </div>

    <h4 class="text-center text-uppercase font-weight-bold">anagrafica locatore</h4>

    <p class="text-center">{{contract.rentalDescription}}</p>

    <h4 class="text-center text-uppercase font-weight-bold">dati natante locato</h4>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Natante:</div>
                <div class="col-6">{{contract.boat.boatType}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Matricola:</div>
                <div class="col-6">{{contract.boat.boatVin}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Motore:</div>
                <div class="col-6">{{contract.boat.engine}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Matricola:</div>
                <div class="col-6">{{contract.boat.engineVin}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Targa:</div>
                <div class="col-6">{{contract.boat.registrationNumber}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Serbatoio:</div>
                <div class="col-6">LT. {{contract.boat.tankSize}}</div>

            </div>
        </div>
    </div>


    <h4 class="text-center text-uppercase font-weight-bold">anagrafica locatario / conduttore</h4>

    <div class="row">
        <div class="col-sm-3 col-6 text-right font-weight-bold">Locatario:</div>
        <div class="col-sm-9 col-6">{{contract.renterName}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Luogo di nascita:</div>
                <div class="col-6">{{contract.birthPlace}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Data di nascita:</div>
                <div class="col-6">{{contract.birthDate | date : 'd/M/yyyy'}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Citt&agrave; di residenza:</div>
                <div class="col-6">{{contract.homeTown}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Indirizzo:</div>
                <div class="col-6">{{contract.homeAddress}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Codice Fiscale:</div>
                <div class="col-6">{{contract.ssn}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Patente nautica:</div>
                <div class="col-6">{{contract.boatLicense ? 'SI' : 'NO'}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Telefono:</div>
                <div class="col-6">{{contract.phone}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Email:</div>
                <div class="col-6">{{contract.email}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Tipo documento:</div>
                <div class="col-6">{{contract.idType}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Nr. documento:</div>
                <div class="col-6">{{contract.idNumber}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Rilasciato da:</div>
                <div class="col-6">{{contract.idIssuer}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Data rilascio:</div>
                <div class="col-6">{{contract.idIssueDate}}</div>

            </div>
        </div>
    </div>


    <h4 class="text-center text-uppercase font-weight-bold">dettagli locazione</h4>


    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Data inizio:</div>
                <div class="col-6">{{contract.startDate}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Data fine:</div>
                <div class="col-6">{{contract.endDate}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Ora inizio:</div>
                <div class="col-6">{{contract.startTime}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Ora fine:</div>
                <div class="col-6">{{contract.endTime}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Carburante inizio:</div>
                <div class="col-6">LT. {{contract.startFuel}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Carburante fine:</div>
                <div class="col-6">LT. {{contract.endFuel}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Costo carburante:</div>
                <div class="col-6">€/LT. {{contract.fuelCost}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Totale carburante:</div>
                <div class="col-6">€ {{contract.totalFuelCost}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Importo locazione:</div>
                <div class="col-6">€ {{contract.rentPrice}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Cauzione:</div>
                <div class="col-6">€ {{contract.securityDeposit}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Importo in acconto:</div>
                <div class="col-6">€ {{contract.deposit}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Importo a saldo:</div>
                <div class="col-6">€ {{contract.balance}}</div>

            </div>
        </div>
    </div>

    <p class="bordered mt-5">
        <strong>
            Le parti convengono e stipulano il presente contratto di locazione alle condizioni contenute ivi e nei documenti allegati
            di seguito elencati:
            <ol>
                <li>Condizioni di Locazione;</li>
                <li>Condizioni Natante in Locazione;</li>
                <li>Schema di informazione sull'attivit&agrave; di locazione;</li>
                <li>Informativa sulla privacy dei dati personali.</li>
            </ol>
            Tali documenti fanno parte integrante del presente contratto e sono stati letti, compresi ed approvati dalle parti.
        </strong>
    </p>

    <div class="row">
        <div class="col-sm">
            <p class="text-center font-weight-bold">Il Locatario/Conduttore</p>
            <p class="text-center">{{contract.renterName}}</p>
        </div>
        <div class="col-sm">
            <p class="text-center font-weight-bold">Il Locatore</p>
            <p class="text-center">{{contract.rentalName}}</p>
        </div>
    </div>

    <div class="page-break"></div>

    <p class="text-uppercase">Allegato D</p>

    <h4 class="text-center text-uppercase font-weight-bold">schema di informazione sull'attivit&agrave; di locazione</h4>

    <p>
        Io sottoscritto {{contract.renterName}} nato a {{contract.birthPlace}} il {{contract.birthDate}} e residente a {{contract.homeTown}}
        in {{contract.homeAddress}} intendo aderire alla proposta di locazione di un natante da diporto come segue:
    </p>

    <div class="bordered">

        <div class="row">
            <div class="col-sm-3">Tipo di natante: {{contract.boat.detailedBoatType}}</div>
            <div class="col-sm-3">Marca: {{contract.boat.detailedBrand}}</div>
            <div class="col-sm-3">Modello: {{contract.boat.detailedModel}}</div>
            <div class="col-sm-3">Omolog. C.E.: {{contract.boat.ceCertification}}</div>

        </div>
        <div class="row">
            <div class="col-sm-3">L.F.T.: {{contract.boat.length}} mt</div>
            <div class="col-sm-3">Max pers. trasp.: {{contract.boat.people}}</div>
            <div class="col-sm-6">Kg.: {{contract.boat.weight}}</div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-sm-3">Motori: n. 1</div>
            <div class="col-sm-3">Marca/Mod.: {{contract.boat.engineBrand}}</div>
            <div class="col-sm-3">Pot. max appl. (KW): {{contract.boat.enginePower}}</div>
            <div class="col-sm-3">Matricola n.: {{contract.boat.engineVin}}</div>

        </div>
        <div class="row">
            <div class="col-sm-3">Assic. R.C.: {{contract.boat.insurer}}</div>
            <div class="col-sm-3">Polizza n.: {{contract.boat.insuranceNumber}}</div>
            <div class="col-sm-6">Scadenza: {{contract.boat.insuranceExpiration}}</div>
        </div>
        <div class="row">
            <div class="col-sm-12">Certificato di idoneit&agrave; al noleggio / Certificato di sicurezza: {{contract.boat.otherCertification}}</div>
        </div>
    </div>

    <h5 class="text-center text-uppercase font-weight-bold my-4">dichiaro</h5>

    <ol>
        <li>
            di aver preso visione e ricevuto copia dell'Ordinanza n. 11/2015, dell'Ordinanza di Sicurezza Balneare vigente e dell'Ordinanza
            di interdizione dei tratti di costa e degli specchi acquei ricadenti nei Comuni di giurisdizione del Circondario
            Marittimo di Siracusa, emanate dalla Capitaneria di porto di Siracusa, che disciplinano a livello locale l'esercizio
            del diporto nautico per finalit&agrave; turistico ricreative e, in particolare, per quanto concerne le unit&agrave;
            a motore, di essere a conoscenza:
            <ul>
                <li>
                    che lo specchio acqueo di 250 metri dalle spiagge e di 100 metri dalle scogliere, durante la stagione estiva, &egrave; riservato
                    esclusivamente alla balneazione e conseguentemente interdetto alle unit&agrave; a motore, cos&igrave;
                    come interdetti sono gli ulteriori 50 metri da tale limite verso il largo (costituenti la fascia di rispetto
                    e di sicurezza per evitare commistioni tra attivit&agrave; di balneazione e navigazione);
                </li>
                <li>che l'atterraggio e la partenza delle unit&agrave; a motore deve avvenire utilizzando i previsti corridoi
                    di uscita alla velocit&agrave; prescritta (non superiore a 3 nodi);
                </li>
                <li>dei limiti di velocit&agrave; vigenti nella fascia di mare compresa tra i 300 e i 1000 metri dalla riva (non
                    superiore ai 10 nodi, con scafo in dislocamento);
                </li>
                <li>
                    del divieto di balneazione, di navigazione, e di ogni attivit&agrave; incompatibile con la natura del rischio accertato o
                    esistente, nella fascia di mare come meglio specificata dall'art. 1 dell'Ord. 38/2014 e ss. mm. ed ii.
                    (frane e smottamenti);
                </li>
            </ul>
        </li>
        <li>
            di aver ricevuto copia della tabella "B" riportante le dotazioni di sicurezza previste dal D.M. n. 146/2008 del Ministero
            delle Infrastrutture e dei Trasporti;
        </li>
        <li>
            di intendere effettuare una navigazione entro 6 miglia dalla costa in relazione alla quale ricevo dal locatore le dotazioni
            di sicurezza descritte nella sopracitata tabella;
        </li>
        <li>
            di
            <strong>{{contract.boatLicense ? '' : 'NON' }}</strong> essere in possesso di patente nautica;
        </li>
        <li>
            che in caso di necessit&agrave;, durante lo svolgimento dell'attivit&agrave; di locazione, sono disponibili i seguenti numeri
            di telefonia cellulare:
            <strong>{{contract.emergencyContacts}}</strong>;
        </li>
        <li>
            estremi di un documento d'identit&agrave; in corso di validit&agrave;:
            <strong>{{contract.idType}} {{contract.idNumber}}</strong>;
        </li>
        <li>
            di saper nuotare e vogare.
        </li>

    </ol>

    <div class="row mt-4 mb-5">
        <div class="col-sm text-center">Avola, l&igrave; {{contract.date | date : 'd/M/yyyy'}}</div>
        <div class="col-sm"></div>
    </div>

    <div class="row mt-5">
        <div class="col-sm">
            <p class="text-center font-weight-bold">Il Locatario/Conduttore</p>
            <p class="text-center">{{contract.renterName}}</p>
        </div>
        <div class="col-sm">
            <p class="text-center font-weight-bold">Il Locatore</p>
            <p class="text-center">{{contract.rentalName}}</p>
        </div>
    </div>

    <div class="page-break"></div>

    <h4 class="text-center text-uppercase font-weight-bold">allegato 2 - condizioni natante in locazione</h4>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Data:</div>
                <div class="col-6">{{contract.date | date : 'd/M/yyyy'}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Nr. Registro:</div>
                <div class="col-6">{{contract.registryNumber}}</div>
            </div>
        </div>
    </div>

    <h4 class="text-center text-uppercase font-weight-bold">dati natante locato</h4>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Natante:</div>
                <div class="col-6">{{contract.boat.boatType}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Matricola:</div>
                <div class="col-6">{{contract.boat.boatVin}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Motore:</div>
                <div class="col-6">{{contract.boat.engine}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Matricola:</div>
                <div class="col-6">{{contract.boat.engineVin}}</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Targa:</div>
                <div class="col-6">{{contract.boat.registrationNumber}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">Serbatoio:</div>
                <div class="col-6">LT. {{contract.boat.tankSize}}</div>

            </div>
        </div>
    </div>

    <h4 class="text-center text-uppercase font-weight-bold">condizioni del natante al momento del ritiro</h4>

    <div class="row small">
        <div class="font-weight-bold text-center col-sm-3">
            Condizioni strutturali del natante
        </div>
        <div class="col-sm-9">
            {{contract.boat.descStructural}}
        </div>
    </div>
    <hr>
    <div class="row small">
        <div class="font-weight-bold text-center col-sm-3">
            Cuscineria
        </div>
        <div class="col-sm-9">
            {{contract.boat.descCushions}}
        </div>
    </div>
    <hr>
    <div class="row small">
        <div class="font-weight-bold text-center col-sm-3">
            Strumentazione
        </div>
        <div class="col-sm-9">
            {{contract.boat.descEquipment}}
        </div>
    </div>
    <hr>
    <div class="row small">
        <div class="font-weight-bold text-center col-sm-3">
            Motore
        </div>
        <div class="col-sm-9">
            {{contract.boat.descEngine}}
        </div>
    </div>
    <hr>
    <div class="row small">
        <div class="font-weight-bold text-center col-sm-3">
            Dotazioni
        </div>
        <div class="col-sm-9">
            {{contract.boat.descFacilities}}
        </div>
    </div>
    <p class="mt-5">
        Sottoscrivendo il presente atto il conduttore dichiara espressamente di confermare le condizioni del natante al momento del
        ritiro, della cuscineria, della strumentazione, del motore, delle dotazioni e dichiara di aver preso adeguata visione
        e conoscenza della sopra elencata documentazione.
    </p>
    <div class="row mt-5">
        <div class="col-sm">
            <p class="text-center font-weight-bold">Il Locatario/Conduttore</p>
            <p class="text-center">{{contract.renterName}}</p>
        </div>
        <div class="col-sm">
            <p class="text-center font-weight-bold">Il Locatore</p>
            <p class="text-center">{{contract.rentalName}}</p>
        </div>
    </div>


    <button (click)="back()" class="btn btn-primary">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Indietro
    </button>

</div>