<form [formGroup]="contractForm" (ngSubmit)="submit()">
    <h4>Contratto di Locazione</h4>
    <div class="form-group">
        <label for="date">Data</label>
        <input formControlName="date" type="date" class="form-control" id="date" aria-describedby="Data" placeholder="Data">
    </div>
    <div class="form-group">
        <label for="registryNumber">Nr. Registro</label>
        <input formControlName="registryNumber" type="text" class="form-control" id="registryNumber" aria-describedby="registryNumber"
            placeholder="Nr. registro">
    </div>

    <div class="form-group">
        <label for="language">Lingua contratto</label>
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="language_it" formControlName="language" value="it">
                <label class="form-check-label" for="language_it">Italiano</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="language_en" formControlName="language" value="en">
                <label class="form-check-label" for="language_en">Inglese</label>
            </div>
        </div>
    </div>

    <h4>Dati natante locato</h4>
    <div class="form-group">
        <label for="boat_name">Nome</label>
        <select class="form-control" formControlName="boat" id="boat_name">
            <option *ngFor="let boat of boats" [ngValue]="boat">{{boat.name}}</option>
        </select>
    </div>

    <h4>Anagrafica Locatario/Conduttore</h4>
    <div class="form-group">
        <label for="renter_name">Nome locatario</label>
        <input type="text" class="form-control" formControlName="renterName" id="renter_name">
    </div>
    <div class="form-group">
        <label for="birth_place">Luogo di nascita</label>
        <input type="text" class="form-control" formControlName="birthPlace" id="birth_place">
    </div>
    <div class="form-group">
        <label for="birth_state">Provincia di nascita o Stato Estero</label>
        <input type="text" class="form-control" formControlName="birthState" id="birth_state">
    </div>
    <div class="form-group">
        <label for="birth_date">Data di nascita</label>
        <input type="date" class="form-control" formControlName="birthDate" id="birth_date">
    </div>
    <div class="form-group">
        <label for="sex">Sesso</label>
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sex_m" formControlName="sex" value="M">
                <label class="form-check-label" for="sex_m">M</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sex_f" formControlName="sex" value="F">
                <label class="form-check-label" for="sex_f">F</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="home_town">Città di residenza</label>
        <input type="text" class="form-control" formControlName="homeTown" id="home_town">
    </div>
    <div class="form-group">
        <label for="home_state">Provincia di residenza o Stato Estero</label>
        <input type="text" class="form-control" formControlName="homeState" id="home_state">
    </div>
    <div class="form-group">
        <label for="home_address">Indirizzo di residenza</label>
        <input type="text" class="form-control" formControlName="homeAddress" id="home_address">
    </div>
    <div class="form-group">
        <label for="ssn">Codice Fiscale</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="ssn" id="ssn">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="getSsn()" type="button">Calcola</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="boat_license">Patente nautica</label>
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="boat_license_yes" formControlName="boatLicense" [value]="true">
                <label class="form-check-label" for="boat_license_yes">SI</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="boat_license_no" formControlName="boatLicense" [value]="false">
                <label class="form-check-label" for="boat_license_no">NO</label>
            </div>
        </div>
    </div>
    <div class="form-group" [hidden]="!contractForm.value.boatLicense">
        <label for="boat_license_details">Estremi patente nautica</label>
        <input type="text" class="form-control" formControlName="boatLicenseDetails" id="boat_license_details">
    </div>
    <div class="form-group">
        <label for="phone">Telefono</label>
        <input type="phone" class="form-control" formControlName="phone" id="phone">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email">
    </div>
    <div class="form-group">
        <label for="id_type">Tipo documento</label>
        <select class="form-control" formControlName="idType" id="id_type">
            <option *ngFor="let idType of idTypes" [value]="idType">{{idType}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="id_number">Numero documento</label>
        <input type="text" class="form-control" formControlName="idNumber" id="id_number">
    </div>
    <div class="form-group">
        <label for="id_issuer">Rilasciato da</label>
        <input type="text" class="form-control" formControlName="idIssuer" id="id_issuer">
    </div>
    <div class="form-group">
        <label for="id_issue_date">Data rilascio</label>
        <input type="date" class="form-control" formControlName="idIssueDate" id="id_issue_date">
    </div>

    <h4>Dettagli locazione</h4>
    <div class="form-group">
        <label for="start_date">Data inizio</label>
        <input type="date" class="form-control" formControlName="startDate" id="start_date">
    </div>
    <div class="form-group">
        <label for="start_time">Ora inizio</label>
        <input type="time" class="form-control" formControlName="startTime" id="start_time">
    </div>

    <div class="form-group">
        <label for="start_fuel">Carburante inizio</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">LT</span>
            </div>
            <input type="text" class="form-control" formControlName="startFuel" id="start_fuel">
        </div>
    </div>

    <div class="form-group">
        <label for="fuel_cost">Costo carburante</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">€ / LT</span>
            </div>
            <input type="number" class="form-control" formControlName="fuelCost" id="fuel_cost">
        </div>
    </div>

    <div class="form-group">
        <label for="rent_price">Importo locazione</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" formControlName="rentPrice" id="rent_price">
        </div>
    </div>
    <div class="form-group">
        <label for="security_deposit">Cauzione</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" formControlName="securityDeposit" id="security_deposit">
        </div>
    </div>


    <button type="submit" class="btn btn-primary">
        Continua
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>

</form>